 .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: -10vh;
  }
  
  .details-card {
    width: 80%; 
    max-width: 600px; 
    padding: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
  }
  
  .details-actions {
    display: flex;
    justify-content: flex-end;
  }
  